* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  background: orange;
  color: white;
  padding: 30px 15px;
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  z-index: 3;
}

footer {
  background: #333;
  text-align: center;
  color: white;
  padding: 10px, 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
}

section {
  position: relative;
  top: 150px;
  left: 100px;
  max-width: 800px;
}

p {
  margin: 20px;
  display: block;
}

img {
  margin: 0px 20px;
  float: left;
}

.left-bar {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: lightblue;
  overflow-x: hidden;
  padding-top: 20px;
}

.last-section {
  padding-bottom: 50px;
}
