* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.grass,
.sky,
.road {
  position: relative;
}

.sky {
  height: 40%;
  background: skyblue;
}

.logo {
  position: absolute;
  top: 200px;
  left: 600px;
  z-index: 99;
}
.grass {
  height: 25%;
  background: seagreen;
}

.road {
  height: 40%;
  background: dimgray;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
  box-sizing: border-box;
}

.lines {
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

.mario {
  position: absolute;
  top: 0px;
  left: 0px;
  animation: drive 3s forwards infinite linear,
            jump 1s 1.2s ease;
}

.luigi {
    position: absolute;
    top: 120px;
    left: 0px;
    animation: drive 5s forwards infinite linear;
  }

.cloud-top,
.cloud-bottom {
  position: absolute;
}

.cloud-top {
  width: 200px;
  top: 50px;
  opacity: .5;
  animation: wind 40s linear infinite reverse;
}

.cloud-bottom {
  width: 300px;
  top: 200px;
  animation: wind 20s linear infinite reverse;
  z-index: 100;
}

@keyframes drive {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(1800px);
  }
}

@keyframes wind {
  from {
    left: -300px;
  }
  to {
    left: 1500px;
  }
}

@keyframes jump {
  0% {
    top: -40px;
  }
  50% {
    top: -100px;
  }
  100% {
    top: -40px;
  }
}
